
/*产品内容页面*/
.content_body{background: #f6f6f6}
.listbox{width: 1100px; margin:30px auto; background: #fff; margin-top: 90px}
.listbox .nav>li>a{padding: 10px 35px;cursor: pointer;}
.listbox .nav-tabs>li>a{line-height: 60px;border-radius:0px; color: #888; margin-right: 0px;}
.listbox .nav-tabs{background: #fafafa;border-bottom-color: #ebebeb;}
.listbox .nav-tabs>li>a:hover{color: #02c1de; background: #fff}
.listbox .nav-tabs>li.active>a, 
.listbox .nav-tabs>li.active>a:focus, 
.listbox .nav-tabs>li.active>a:hover{
border:1px solid #ebebeb;
border-bottom-color:transparent;
border-top-color:transparent;
}

.pro_box{padding:20px 0px 40px}
.pro_box_list dl{height: 180px; padding: 20px 0px; width: 940px; margin: 0 auto; border-bottom: 1px solid #f4f4f4}
.pro_box_list dl dt{height: 140px; width: 160px;}
.pro_box_list dl dt img{height: 140px; width: 130px;}
.pro_box_list dl dd{width: 700px}
.pro_box_list dl dd h1{ color: #333; font-size: 20px; line-height: 1.5; padding: 20px 0px 10px}
.pro_box_list dl dd p{ color: #777; }
.pro_box_list a:hover dl dd h1{ color: #438ebc;}
.pro_box_list a:hover dl dd p{ color: #438ebc; }

/*产品详情*/
.this_line{margin: 0 auto;width: 1100px; height:45px;line-height: 45px; font-size: 14px; padding-top: 80px; color: #333}
.this_line a{color: #999}
.this_line a:hover{color:#02c1de}
.pro_detail_box{background: #fff;padding-bottom: 30px; margin-bottom: 50px;}
.pro_title{font-size: 24px; border-bottom: 1px solid #f2f2f2; text-align: center;padding: 35px 0px 30px;  margin: 5px 60px 35px; font-weight:#333;}
.pro_con{margin: 5px 60px; font-size: 16px;color: #555}
.pro_con div{margin: 15px 0px}
.pro_con_img{text-align: center; padding: 10px 0px}

.pro_h2{font-size: 16px;color: #333; font-weight: bold; margin: 10px 0px 15px;}
.pro_con_list{padding-left: 20px;}
.pro_con_list li h2{font-size: 14px; color: #444;line-height: 1.8;}
.pro_con_list li p{color: #a5a5a5; font-size: 14px; padding: 10px 0px}

/*加入我们*/
.join_list{ width: 1100px;margin: 48px auto 100px;background: #fff}
.join_list_con{padding:30px 80px}
.join_header{text-align: left;border-bottom:1px solid #f5f5f5;}
.join_header h3{text-align: center; line-height:1.8; margin-bottom: 30px;}
.join_header p{color: #999; padding-bottom: 30px}

.join_list_con .panel-title a{ display: block;font-weight: bold;padding: 10px;}
.join_list_con .panel-default>.panel-heading {background-color:#f6f6f6; padding: 0px;}
.join_list_con .panel{border: none; border-radius:0;box-shadow:none}
.join_list_con .panel-default>.panel-heading+.panel-collapse>.panel-body{border: none; border-radius:0}
.join_list_con .panel-body{padding-top: 5px;}
.join_list_con .panel-body h2{font-size: 16px;font-weight: bold; line-height: 40px;color: #fe7171; margin-top: 10px}
.join_list_con .panel-body p{line-height: 2; font-size: 14px; color: #888; padding-left: 28px;}

/*联系我们*/
.contact_con{margin: 0px auto 50px; width: 1100px; background: #fff;}
.main-contact{padding-top: 30px; padding-bottom: 50px;
}
.main-contact h3{
	font-size: 25px;
	padding-bottom: 20px;
	padding-left: 72px;
    border-bottom:1px solid #f5f5f5;
    text-align: center;
}
.main-contact dl{
	margin-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 30px;
}
.main-contact dt{
	font-size: 20px;
	padding: 15px 0;
    font-weight: bold;
    line-height: 40px;
}
.main-contact dl dd p{
	font-size: 14px;
	margin-bottom: 10px;
}
.main-contact dl dd span{
	display: inline-block;
	padding: 2px 4px;
	margin-right: 10px;
	border-radius: 3px;
	color: #333;
	font-size: 14px;
    width: 70px
    
}

.contact-02{
	width: 960px;
	margin: 0 auto;
}
.contact-02 dt{
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}
.add_map{ text-align: center;width: 600px; margin: 0 auto;}

.about_con{width: 1100px;background: #fff; margin: 0 auto 40px;}
.about_con_in{padding: 20px 20px 50px; }
.ab_header{font-size: 26px; text-align: center; line-height: 80px; border-bottom: 1px solid #f6f6f6; margin-bottom: 30px}
.about_con_in .aboutuspic{ text-align: center;}